services:

  moto:
    build:
      context: compose/moto
    ports:
      - "5050:5050" # moto port
    healthcheck:
      test: curl --fail --silent localhost:5050 || exit 1
      interval: 10s
      retries: 5
      start_period: 5s
      timeout: 10s
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  terraform:
    build:
      context: compose/terraform
      args:
        ARCHITECTURE: ${ARCHITECTURE:-arm64}
    depends_on:
      moto:
        condition: service_healthy
    healthcheck:
      test: test -f '/home/nonroot/success' && exit 0 || test -f '/home/nonroot/failed' && exit 1
      interval: 60s
      retries: 20
      start_period: 60s
      timeout: 60s
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  test:
    build:
      context: .
      args:
        UCM_VERSION: ${UCM_VERSION:-1.0.0}
    depends_on:
      moto:
        condition: service_healthy
      terraform:
        condition: service_completed_successfully
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    # stdin_open without tty - provides input but no pager
    stdin_open: true
